:root {
    --tetris-size: 20px;
    --puyo-size: calc(var(--tetris-size)/6*10);
}

.tetris {
    background: black;
    border-style: solid;
    border-color: rgba(255,255,255,.1);
    border-width: calc(var(--tetris-size)/2);
    display: inline-block;
    font-size: 0px;
    margin: calc(var(--tetris-size)/2);
    margin-left: 0;
  }
.tetris span {
    box-sizing: border-box;
    display: inline-block;
    width: var(--tetris-size);
    height: var(--tetris-size);
    border-width: calc(var(--tetris-size)/15);
    border-style: outset;
    border-color:   rgba(255,255,255,.5)
                    rgba(0,0,0,.3)
                    rgba(0,0,0,.4)
                    rgba(255,255,255,.2);
}
.tetris span.tetris-empty {
    background: transparent;
    border-style: solid;
    border-color: rgba(255,255,255,.1);
    border-width: 1px;
}
.tetris-t {
    background-color: #a3f;
}
.tetris-T {
    background-color: #a3f;
    opacity: .2;
}
.tetris-s {
    background-color: #0d0;
}
.tetris-S {
    background-color: #0d0;
    opacity: .4;
}
.tetris-i {
    background-color: #0ee;
}
.tetris-I {
    background-color: #0ff;
    opacity: .35;
}
.tetris-z {
    background-color: #f00;
}
.tetris-Z {
    background-color: #f00;
    opacity: .4;
}
.tetris-o {
    background-color: #fd0;
}
.tetris-O {
    background-color: #fd0;
    opacity: .3;
}
.tetris-l {
    background-color: #f60;
}
.tetris-L {
    background-color: #f60;
    opacity: .2;
}
.tetris-j {
    background-color: #33f;
}
.tetris-J {
    background-color: #33f;
    opacity: .2;
}
/* trash */
.tetris-g {
    background-color: #ccc;
}
.tetris-G {
    background-color: #ccc;
    opacity: .3;
}
/* mark */
.tetris span.tetris-x {
    background: black;
    border-style: solid;
    border-color: rgba(255,255,255,.1);
    border-width: 1px;
    background-color: transparent;
    position: relative;
}
.tetris-x:before,
.tetris-x:after {
    position: absolute;
    left: calc(var(--tetris-size)/2 - 2px);
    top: -1px;
    content: '';
    height: var(--tetris-size);
    width: 2px;
    background: red;
}
.tetris-x:before {
    transform: rotate(45deg);
}
.tetris-x:after {
    transform: rotate(-45deg);
}


/* puyo */
.puyo {
    background: #333;
    /* padding: calc(var(--tetris-size)/2); */
    display: inline-block;
    font-size: 0px;
    margin: calc(var(--tetris-size)/2);
    margin-left: 0;
    position: relative;
}
.puyo span {
    box-sizing: border-box;
    display: inline-block;
    width: var(--puyo-size);
    height: var(--puyo-size);
    border-radius: 50%;
}
div[class$="container"] {
    padding: calc(var(--tetris-size)/2);
    filter: url("#puyo");
    position: absolute;
    top: 0; left: 0;
}
div[class$="container"]:first-child {
    position: relative;
}

.puyo-r {
    background: rgb(255,0,0);
}
.puyo-g {
    background: rgb(0,255,0);
}
.puyo-b {
    background: rgb(75, 90, 255);
}
.puyo-y {
    background: rgb(255,255,0);
}
.puyo-p {
    background: rgb(255,0,255);
}