$tetris-size = 20px
$puyo-size =  $tetris-size / 6 * 10

.content {
    a {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}
.page-nav {
    font-size: 2em;
}

// container
.tetris,.puyo {
    position relative;
    background: black;
    border-style: solid;
    border-color: rgba(255,255,255,.1);
    border-width: ($tetris-size / 2);
    display: inline-block;
    font-size: 0px;
    margin: ($tetris-size/2);
    margin-left: 0;
  }
.puyo {
    background: #420;
    border: 0;
    overflow: hidden;
}

// tetris
.tetris span {
    box-sizing: border-box;
    display: inline-block;
    width: $tetris-size;
    height: $tetris-size;
    border-width: ($tetris-size / 10);
    border-style: outset;
    border-color:   rgba(255,255,255,.3) rgba(0,0,0,.3) rgba(0,0,0,.4) rgba(255,255,255,.2);
}
.tetris span.tetris-empty {
    background: transparent;
    border-style: solid;
    border-color: rgba(255,255,255,.1);
    border-width: 1px;
}
.tetris-t {
    background-color: #a3f;
}
.tetris-T {
    background-color: #a3f;
    opacity: .4;
}
.tetris-s {
    background-color: #0d0;
}
.tetris-S {
    background-color: #0d0;
    opacity: .4;
}
.tetris-i {
    background-color: #0ee;
}
.tetris-I {
    background-color: #0ff;
    opacity: .35;
}
.tetris-z {
    background-color: #f00;
}
.tetris-Z {
    background-color: #f00;
    opacity: .4;
}
.tetris-o {
    background-color: #fd0;
}
.tetris-O {
    background-color: #fd0;
    opacity: .3;
}
.tetris-l {
    background-color: #f60;
}
.tetris-L {
    background-color: #f60;
    opacity: .3;
}
.tetris-j {
    background-color: #33f;
}
.tetris-J {
    background-color: #33f;
    opacity: .4;
}
/* trash */
.tetris-g {
    background-color: #ccc;
}
.tetris-G {
    background-color: #ccc;
    opacity: .3;
}
/* mark */
.tetris span.tetris-x {
    background: black;
    border-style: solid;
    border-color: rgba(255,255,255,.1);
    border-width: 1px;
    background-color: transparent;
    position: relative;
}
.tetris-x:before,
.tetris-x:after {
    $size = 2px;
    position: absolute;
    left: "calc( %s / 2 - %s )" % ($tetris-size $size);
    top: -1px;
    content: '';
    height: $tetris-size;
    width: $size;
    background: red;
}
.tetris-x:before {
    transform: rotate(45deg);
}
.tetris-x:after {
    transform: rotate(-45deg);
}


// puyo

.puyo span {
    box-sizing: border-box;
    display: inline-block;
    width: $puyo-size;
    height: $puyo-size;
    border-radius: 50%;   
}
.puyo div[class$="container"] {
    position: absolute;
    top: 0;
    left: 0;
    padding: ($tetris-size / 2);
    opacity: 0.9;
}

@supports (mix-blend-mode: screen) {
    .puyo div[class$="container"] {
        background: black;
        mix-blend-mode: screen;
        filter: blur(5px) contrast(20) sepia(40%);
    }
    .puyo div[class=puyo-k-container],
    .puyo div[class=puyo-K-container] {
        filter: none;
    }
}
.puyo div[class$="container"]:first-child {
    position: relative;
}

.puyo-r, .puyo-R {
    background: rgb(230,50,50);
}
.puyo-g, .puyo-G {
    background: rgb(50,220,50);
}
.puyo-b, .puyo-B {
    background: rgb(100, 120, 200);
}
.puyo-y, .puyo-Y {
    background: rgb(220,220,80);
}
.puyo-p, .puyo-P {
    background: rgb(220,80,220);
}
.puyo-k, .puyo-K {
    background: #ccc;
}

.puyo span.puyo-R,
.puyo span.puyo-G,
.puyo span.puyo-B,
.puyo span.puyo-Y,
.puyo span.puyo-P {
    opacity: .9;
    width: ($puyo-size / 2);
    height: ($puyo-size / 2);
    margin: ($puyo-size / 4);
}
.puyo span.puyo-k {
    opacity: 1;
    width: ($puyo-size - 4);
    height: ($puyo-size - 4);
    margin: 2px;
}

.puyo span.puyo-B {
    background: saturation(rgb(100, 120, 200),100%);
    opacity: 1
}

.puyo .puyo-R-container,.puyo .puyo-G-container,.puyo .puyo-B-container,.puyo .puyo-Y-container,.puyo .puyo-P-container {
    filter: none !important;
    background: transparent !important;
}